.dwd-button {
  color: #fff !important;
  min-width: 210px !important;
  background: linear-gradient(135deg, #67df03b8, #1356d5b8) !important;
  margin-bottom: 15px !important;
}

.btn.btn-sm.btn-outline {
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 8px 18px !important;
  border-radius: 8px !important;
  border: none !important;
  cursor: pointer !important;
  min-width: 210px !important;
  background: linear-gradient(135deg, #67df03b8, #1356d5b8) !important;
  margin-bottom: 15px !important;
  transition: all 0.3s ease-in-out !important;
}

.btn.btn-sm.btn-outline:hover {
  background: linear-gradient(135deg, #67df03, #1356d5) !important;
  transform: scale(1.05) !important;
  box-shadow: 0 4px 12px rgb(0 0 0 / .2) !important;
}
